/* disable print */
@media print {body {display:none;}}

#topnav { position: absolute; top: 0; right: 10px; }
#header { width: 100%; height: 50px; overflow: hidden; background: white; padding: 0 10px 0 0; top: 0; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
#header img { float: left; margin-top: -8px; }
#header h1 { margin: 5; padding: 0; text-align: center; }

#customer_information { width: 48%; height: 375px; float: left; border: 1px solid black; }
#customer_information table { width: 100%; }
#customer_information table th { text-align: left; width: 20%; }
#customer_information input { width: 100%; }
#view_records input { width: 10em; position: relative; top: 0; margin-bottom: -20px;}
#contract_accounts { width: 48%; height: 375px; overflow: auto; float: right; border: 1px solid black; }
#customer_contacts { width: 100%; height: 100px; overflow: auto; border: 1px solid black; }
#customer_contacts table th { text-align: left; }
.err_msg { color: red; font-weight: bold; text-align: center; background: darkblue; width: 10em; padding: 5px;
           position: absolute; top: 30px; left: 150px; }
.summary { text-align: center; font-weight: bold; }

#customer_profile { width: 48%; float: left; }
#customer_profile textarea { width: 100%; height: 100px; }
#customer_profile #addProfile { float: right; }

#consultant_notes { width: 48%; float: right; }
#consultant_notes textarea { width: 100%; height: 300px; }
#consultant_notes #addNote { float: right; }

/* viewRecords.php */
#var_main { width: 100%; overflow: auto; }
#var_main table { width: 1200px; border-collapse: collapse; border:1px solid black; }
#var_main table th { text-align: left; margin: 2px; }
#var_main table td { margin: 5px; }
#var_main .TotalZip { width: 10px; text-align: center; }

 .addEditRecord { float: left; }
.deleteRecord { float: right; }